DOMAIN=market.local

POSTGRES_USER=gout_admin
POSTGRES_DB=authentik
POSTGRES_PASSWORD=replace_this_with_a_secure_master_password

GOUT_DB_USER=gout_app
GOUT_DB_PASSWORD=replace_this_with_a_distinct_app_password

AUTHENTIK_SECRET_KEY=replace_this_with_a_long_random_secret_string
