DOMAIN=market.local

GOUT_DB_URL=db.local
GOUT_DB_USER=gout_app
GOUT_DB_PASSWORD=replace_this_with_a_distinct_app_password

AUTHENTIK_TAG=2024.4.2

AUTHENTIK_PORT_HTTP=8000
AUTHENTIK_PORT_HTTPS=8443

AUTHENTIK_PG_USER=authentik
AUTHENTIK_PG_DB=authentik
AUTHENTIK_PG_PASS=a_very_secure_password_here
AUTHENTIK_SECRET_KEY=generate_your_own_secret_key_here
AUTHENTIK_ERROR_REPORTING_ENABLED=false

LETS_ENCRYPT_EMAIL=max.mustermann@example.com
