.env*
!.env.example

config.yml

# ==
# CARGO
# ===
/target

# ===
# OS
# ===

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs.hdmp
Log.txt
*.lnk
*.cab
*.msi
*.msm
*.msp
*.lnk

# Linux
*~
.fuse_hidden*
.directory
.trash
.goutputstream-*

# ===
# IDE
# ===

# VSCode
.vscode/
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
*.code-workspace

# Jetbrains
.idea/
*.iws
*.iml
*.ipr

# Sublime Text
*.sublime-project
*.sublime-workspace

# Neovim / Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
.netrwhist
tags
tpdir/
